---
---

@import "{{ site.theme }}";

header {
    h1{
        color: #000000;
        a {
            color:#000000;
            text-decoration:none;
            font-size:50px;
          }   
    }
}
body {
  font: 14px/1.5 "Roboto, Helvetica, Arial, sans-serif;
  color:#353535;
  font-weight:400;
}

